.about__container {
  margin-bottom: 67px;
}

.about__title{
  margin-bottom: 36px;
}
.about__title span {
  font-style: italic;
  color: $color-light-taupe;
}

.about__img-wrapper {
  display:grid;
  grid-template-columns:repeat(2,minmax(360px,1fr));
  grid-auto-rows:85px;
  grid-gap:41px;  
}

.about__img {
  border-radius: 20px;  
  grid-row:span 5;
}
.about-1{
  order:-1
}
.about-2{
  order:3;
  grid-row:span 4;
  grid-column: 1/2;
}

.about-3 {
  order: 2;
  grid-row:span 4;
  grid-column: 2/3;
  grid-row: 1/4;
}

.about-4{
  grid-row:span 5;
  grid-row: 5/10;
  grid-column: 2/3;
  order: 4;
  margin-top: -34px;
}
