.mobile__container {
  display:flex;
  gap: 99px;
  padding-bottom: 96px;
  ;
}

.mobile__text-wrapper {
  width: 630px;
  padding: 144px  0;
  display:flex;
  flex-direction:column;
  gap: 40px;
}

.mobile__title span{
  font-style: italic;
}

.mobile__btn-wrapper {
  display:flex;
  gap: 20px;
}

.mobile__btn {
  background-color: $color-transparent;
  border-radius: 100px;
  border: 1px solid $color-wenge;
  padding: 12px 20px;
  min-width:200px;
}

.mobile__btn-icon-wrapper{
  display:flex;
  gap:8px;
}

.mobile__span-wrapprer span:first-child {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
  text-align:left;
}

.mobile__span-wrapprer span:last-child {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  text-align:left;
}

.mobile__span-wrapprer {
  display:flex;
  flex-direction:column;
  gap: 2px;
}