
.list-content {
  list-style:none;
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  gap: 40px;
}

.list-content__item {
  border-radius: 40px;
  border: 1px solid $color-silver-pink;
}

.list-content__img {
  border-radius: 40px;
}

.list-content__link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  transition: all 1.3s ease-in-out;   
}

.list-content__link:hover .list-content__img {
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.list-content__text-wrapper {
  display:flex;
  flex-direction:column;
  padding: 20px;
  gap: 12px;
  justify-content:flex-end;
  height:100%;
}

.list-content__desc {
  font-size: 16px;
  flex-grow: 1; 
} 

.list-content__price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;   
}