h1 {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
}

h2 {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

h3 {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
}
@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
}
@font-face {
  font-style: italic;
  font-weight: 600;
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-SemiBoldItalic.woff2") format("woff2");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  background-color: #b0907a;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  font-family: "Inter", "Arial", sans-serif;
  color: #403f3d;
}

body {
  width: 100%;
  height: 100%;
  background-color: #e1d4c9;
}

a {
  color: #403f3d;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}

.header__container {
  padding-top: 20px;
  padding-bottom: 14px;
  display: flex;
}

.header__menu-link {
  position: relative;
  margin-left: auto;
  padding-top: 16px;
  display: flex;
  gap: 8px;
}
.header__menu-link:hover::after, .header__menu-link:active::after {
  position: absolute;
  content: "";
  bottom: 26px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #403f3d;
}

.nav {
  display: flex;
  align-items: self-start;
  flex-grow: 1;
  padding-top: 16px;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-grow: 1;
}

.nav__link {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.1px;
}
.nav__link:hover, .nav__link:active {
  width: 100%;
  border-bottom: 2px solid #403f3d;
}

.hero__container {
  position: relative;
  z-index: 0;
  padding: 100px;
}

.hero__container:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/hero/img-hero.jpg") lightgray 50%/cover no-repeat;
  background-repeat: no-repeat;
  border-radius: 40px;
  z-index: -1;
}
@media (min-resolution: 144dpi) and (min-width: 1.5dppx) {
  .hero__container:after {
    background: url("../img/hero/img-hero@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.hero__wrapper {
  width: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.hero__title {
  color: #b0907a;
}

.hero__title span {
  font-style: italic;
  color: #e1d4c9;
}

.hero__desc {
  color: #e1d4c9;
}

.hero__btn {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #e1d4c9;
  min-width: 200px;
}

.hero__btn svg {
  position: absolute;
  display: none;
  top: 21px;
  right: 49px;
  transition: display 1s ease;
}

.hero__btn:hover svg {
  display: inline;
}

.offers__container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.offers__title {
  text-align: center;
  margin-bottom: 40px;
}

.offers__title span {
  color: #b0907a;
}

.offers__slider-wrapper {
  position: relative;
}

.offers__btn-control {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid #665f55;
  border-radius: 50%;
  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);
}

.offers__btn-control--prev {
  transform: translateY(-50%) rotate(180deg);
  left: 0;
}

.offers__btn-control--next {
  right: 0;
}

.offers__list-slider {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.offers__item {
  display: none;
  width: 480px;
  text-align: center;
}

.offers__item--active {
  display: flex;
  flex-direction: column;
}

.offers__img {
  margin-bottom: 20px;
}

.offers__header {
  margin-bottom: 16px;
}

.offers__decs {
  margin-bottom: 16px;
}

.offers__span {
  font-style: italic;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.offers__bullet-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.offers__bullet-btn {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #c1b6ad;
  border: none;
}

.offers__bullet-btn--active {
  background: #665f55;
}

.about__title span {
  font-style: italic;
}

.about__img-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(360px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 20px;
}

.about__img {
  border-radius: 20px;
  grid-row: span 5;
}

.about-1 {
  order: -1;
}

.about-2 {
  order: 3;
}

.about-3 {
  order: 2;
}

.about-4 {
  order: 4;
}

/*# sourceMappingURL=style.css.map */
